.instructions {
    border: 1px solid darken($off-white, 10px);
    background-color: $white;
    border-radius: 5px;
    margin-top: $lg;
    margin-bottom: $lg;
    padding: 50px $lg;

    h1 {
        color: $off-black;
        font-size: 5rem;
        text-align: center;
    }

    p {
        font-size: 2rem;
    }

    ul li{
        font-size:1.5rem;
    }

    .lifeline {
        position: relative;
        top: -3px;
    }

    .lifeline-icon {
        color: $green;
        cursor: pointer;
    }

    .browser-default {
        padding-left: 30px;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    img {
        width: 80%;
        height: 50%;
    }

    .navigate-button span {
        font-size: 2rem;
    }
}

@media (max-width: $md-breakpoints) {
    .instructions img {
        width: 100% !important;
        height: 150% !important;
    }
}